.item {
    margin-top: 1rem;

    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.01);    
}

.item p {    
    margin-bottom: 0;
}

.item svg {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.item p {
    padding-left: 1rem;
}